.metadata

/loja-virtual-repository/.settings

/loja-virtual-repository/bin

/loja-virtual-repository/.classpath
/loja-virtual-repository/.project

/loja/.settings
/loja/.classpath
/loja/.project
/loja/target
api/hs_err_pid9828.log
